.about-container {
    width: 548.15px;
    height: 1035.51px;
    background: #FFF7ED;


}

.about-container img {
    width: 548.15px;
    height: 233.21px;

}

.about-page-content {}

.about-page-content h1 {
    width: 494.33px;
    height: 76px;
    margin-left: 26px;
    margin-right: 26px;
    margin-top:48px ;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: #161616;


}

.about-page-content p {
    margin-left: 26px;
    margin-right: 26px;
    margin-top:31px ;

}

.about-page-cta {
    width: 494px;
    height: 198px;
    margin-left: 27px;
    margin-right: 28px;
    margin-bottom: 53px;
    margin-top: 55px;
    background: #FFCC8D;
    padding-top: 10px;

}

.about-page-cta h2 {
    width: 420px;
    height: 60px;
    margin: 32px 37px 25px 37px;
    

}

.link-button {
    width: 174px;
    height: 49px;
    padding: 12px 22px 13px 22px;
    border-radius: 10px;
    background: #161616;
    color: white;
    margin: 32px 37px 25px 37px;

    text-decoration: none;
}