
.vans-container {
    background: #FFF7ED;


}
.card-container-link{
    text-decoration: none;
}

.vans-heading {
    width: 494.33px;
    height: 34px;

    padding-top: 4px;
    margin-left: 26.91px;
    margin-right: 26px;
    margin-bottom: 62px;
    gap: 0px;
    opacity: 0px;

}

.vans-heading h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 33.65px;
    text-align: left;
    color: #161616;

}

.vans-btn-conatiner {
    width: 351px;
    height: 37px;
    top: 222.25px;
    margin-left: 26.79px;
    margin-right: 40px;
    
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vans-btn {
    width: 104px;
    height: 30px;
    top: 222.25px;
    margin-right: 26.79px;
    padding: 13px 26px 1px 26px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    background: #FFEAD0;
    color: #4D4D4D;
    text-decoration: none;


}


.vans-filter-link{
    width: 100%;
    height: 24px;
    top: 228.25px;
   margin-right: 0;
   margin-left: 0;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    text-align: left;
    color: #4D4D4D;
  

}
.vans-filter-link {
    text-decoration-color: #4D4D4D;
    cursor: pointer;
  
}
.vans-filter{
    margin-top: 22px;
    margin-bottom: 55px;
    display: flex;
   justify-content: space-between;
   align-items: center;
    
}
.cards-container{
    width: 548.15px;
    margin-left: 26px;

    display: grid;
    grid-template-columns: auto auto;
}

.sm:hover {
    background: #E17654;
    color: white;
    cursor: pointer;    
}

.ru:hover {
    background: #115E59;
    color: white;
    cursor: pointer;
}

.lu:hover {
    background: #161616;
    color: white;
    cursor: pointer;
}

.smSelected {
    background: #E17654;
    color: white;

}

.ruSelected {
    background: #115E59;
    color: white;

}

.luSelected {
    background: #161616;
    color: white;

}

