.Host-card-container {
    width: 494px;
    height: 102px;
    top: 286px;
    margin-left: 26px;
    
    margin-bottom: 15px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;

}

.card-img img {
    width: 65.88px;
    height: 65.88px;
    margin-top: 18px;
    margin-left: 24px;
    margin-right: 1px;
    gap: 0px;
    border-radius: 5px;

}
.card-content{
    margin-left: 0;
}

.host-card-title {
    width: 328px;
    height: 32px;
    margin-top: 25px;
    margin-left: 26px;
    margin-bottom: 0;
    left: 133px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 31.66px;
    text-align: left;
    color: #161616;
}

.price {
    width: 139px;
    height: 20px;
    margin-bottom: 25px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 31.66px;
    text-align: left;
    color: #4D4D4D;
}

.host-card-link{
    text-decoration: none;
}