.HostReviewCard-container {
    width: 492px;
    margin-left: 26px;
    margin-right: 30px;
    background: #FFF7ED;

}

.HostReviewCard-stars {
    display: flex;
    margin-top: 19px;
}

.HostReviewCard-stars-img {
    width: 24px;
    height: 24px;
    margin-right: 5px;

}

.HostReviewCard-title {
    width: 325px;
    height: 32px;
    margin-top: 8px;
    margin-bottom: 7px;

}

.HostReviewCard-title-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 31.66px;
    text-align: left;
    color: #161616;
    margin-right: 5px;

}

.HostReviewCard-title-date {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 31.66px;
    text-align: left;
    color: #8C8C8C;

}

.HostReviewCard-content {
    width: 492px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.16px;
    text-align: left;
    color: #161616;
    margin-bottom: 25px;


}

.HostReviewCard-hr {
    width: 497px;

    border: 1px solid #C7C7C7
}